<!DOCTYPE html>
<html>
<head>
  <title>RetroTech Server</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>RetroTech Server Control v1.0</h1>
  <p>Welcome to the Super Innovative New WebUI™ by RetroTech Inc.! Designed in 1995 to improve efficiency and monitor server status with cutting-edge tech. Check system health like never before!</p>
  <div class="index-links">
    <p><a href="/healthcheck">Healthcheck</a></p>
    <p><a href="/server-info">Server Specs</a></p>
    <p><a href="/management">Management</a></p>
  </div>

  <div class="footer">
    === RetroTech Inc. 1995 ===<br>
    [MANAGEMENT INFO] Est. 1995 - "We Compute, You Win!"
  </div>
</body>
</html>



